<footer id="footer">

    <div class="footer">
        <div class="footer_top">
            <div>
                <a href="index.html">关于我们</a>
            </div>
            <div>
                <a href="server.html">服务支持</a>
            </div>
            <div>
                <a href="Cooperation.html">商务合作</a>
            </div>
            <div>
                <a href="table.html">立即申请</a>
            </div>
            <div>
                <a href="contact.html">联系我们</a>
            </div>

        </div>
        <div>
            <p>联系电话：025-8652-8059</p>
            <p>公司邮箱：bd@njxz.online</p>
        </div>
    </div>
</footer>
</body>
<script>


    var oW=document.documentElement.clientWidth/7.5;

    document.getElementsByTagName('html')[0].style.fontSize=oW+'px';

    var nav_status = false, ul_status = false, icon_status = true;
    var oMenu = document.querySelector('.header_menu'),
        oList = document.querySelector('.nav_list'),
        oIcon = document.querySelector('.icon-0252'),
        oUl = document.querySelector('.item_ul');


    oMenu.onclick = function () {
        if (nav_status) {
            oList.style.right = '-60%';
            nav_status = false
        } else {
            oList.style.right = 0;
            nav_status = true
        }
    };

    oIcon.onclick= function () {
        icon_status = false;
        if (ul_status) {
            oUl.style.height = "0";
            ul_status = false;
            this.style.transform = "rotate(0deg)";
        } else {
            ul_status = true;
            this.style.transform = "rotate(90deg)";
            oUl.style.height = "2.45rem";
        }
        return false;
    }

    oList.onclick = function () {

        if ( icon_status ) {
            oList.style.right = '-60%';
            nav_status = false
        }
        status = true;
    };

</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?85346148feb559b2a8942caf1fbe2964";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
