<footer id="footer">

    <div class="footer">
        <div class="footer_top">
            <div>关于我们</div>
            <div>产品下载</div>
            <div>技术支持</div>
            <div>商务合作</div>
            <div>加入我们</div>
        </div>
        <div>
            <p>联系电话：025-56566</p>
            <p>商务合作：025-56566</p>
        </div>
    </div>
</footer>
</body>
<script>

    var oW=document.documentElement.clientWidth/7.5;

    document.getElementsByTagName('html')[0].style.fontSize=oW+'px';

</script>