<footer id="footer">

    <div class="footer">
        <div class="footer_top">
            <div>
                <a href="index.html">关于我们</a>
            </div>
            <div>
                <router-link to="server">服务支持</router-link>
            </div>
            <div>
                <router-link to="cooperation">商务合作</router-link>
            </div>
            <div>
                <router-link to="join">加入我们</router-link>
            </div>
            <div>
                <router-link to="contact">联系我们</router-link>
            </div>

        </div>
        <div>
            <p>联系电话：025-8652-8059</p>
            <p>公司邮箱：zhangyueqing@njxbz.online</p>
        </div>
    </div>
</footer>
</body>
<script>


    var oW=document.documentElement.clientWidth/7.5;

    document.getElementsByTagName('html')[0].style.fontSize=oW+'px';

</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?85346148feb559b2a8942caf1fbe2964";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
