

<header id="header">
    <div class="header_logo"></div>
    <div class="header_menu"><i class="icon-0210"></i></div>
    <div class="header_list">
        <ul class="nav_list">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="mall.html">产品介绍</a>
            </li>
            <li>
                <a href="server.html">服务支持</a>
            </li>
            <li>
                <a href="cooperation.html">商务合作</a>
            </li>
            <li>
                <a href="mall.html">在线商城</a>
            </li>
            <li class="nav_item">
                <nav>
                    <a href="about.html">关于我们</a>
                    <i class="icon-0252"></i>
                </nav>
                <ul class="item_ul">
                    <li>
                        <a href="info.html">产品介绍</a>
                    </li>
                    <li>
                        <a href="odds.html">公司优势</a>
                    </li>
                    <li>
                        <a href="join.html">会员加盟</a>
                    </li>
                    <li>
                        <a href="join.html">发展规划</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="condition.html">申请条件</a>
            </li>
            <li>
                <a href="table.html">立刻申请</a>
            </li>
            <li>
                <a href="contact.html">联系我们</a>
            </li>
        </ul>
    </div>
</header>