

<header id="header">
    <div class="header">
        <div class="logo">
            <img src="../src/img/logo.png" alt="logo">
        </div>
        <div class="nav">
            <ul class="nav_list">
                <li>首页</li>
                <li>产品介绍</li>
                <li>服务支持</li>
                <li>商务合作</li>
                <li>在线商城</li>
                <li>品牌故事</li>
                <li>加入我们</li>
                <li>关于我们</li>
                <li>联系我们</li>
            </ul>
        </div>
    </div>
</header>