<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,mini-scale-1.0,user-scalable=no">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/icom.css">
    <link rel="stylesheet" href="../css/h5/table.css">
    <title>立即申请</title>
</head>
<body>

@@include('../../template/header_h5.html',{'title':'header'})
<div class="table_h5">
    <div class="table_content">
        <ul class="table_ul">
            <li>
                <div class="ul_name"> 申请类别</div>
                <div class="ul_content">
                    <button>渠道合作</button>
                </div>
            </li>
            <li>
                <div class="ul_name">所在城市</div>
                <div class="ul_content">
                    <select name="" >
                        <option value="请选择" v-for="data in citys">{{data.name}}</option>
                    </select>
                    <select name="">
                        <option value="" v-for="data in  city_1">{{data}}</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="ul_name">申请城市</div>
                <div class="ul_content">
                    <select name="" >
                        <option value="请选择" v-for="data in citys">{{data.name}}</option>
                    </select>
                    <select name="">
                        <option value="" v-for="data in  city_1">{{data}}</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="ul_name">姓名</div>
                <div class="ul_content"><input type="text"></div>
            </li>
            <li>
                <div class="ul_name">邮箱</div>
                <div class="ul_content"><input type="text"></div>
            </li>
            <li>
                <div class="ul_name">职位</div>
                <div class="ul_content"><input type="text"></div>
            </li>
            <li>
                <div class="ul_name">地址</div>
                <div class="ul_content"><input type="text"></div>
            </li>
            <li>
                <div class="ul_name">手机号码</div>
                <div class="ul_content"><input type="text"></div>
            </li>
        </ul>
        <div class="table_radio">
            <div>
                <div class="radio_name">信息来源</div>
                <div class="radio_content">
                    <div><input type="radio"> <span>网络搜索</span></div>
                    <div><input type="radio"> <span>网站新闻</span></div>
                    <div><input type="radio"> <span>朋友介绍</span></div>
                    <div><input type="radio"> <span>机身电话</span></div>
                    <div><input type="radio"> <span>微信</span></div>
                    <div><input type="radio"> <span>市场活动</span></div>
                </div>
            </div>
            <div>
                <div class="radio_name">关心问题</div>
                <div class="radio_content">
                    <div><input type="radio"> <span>价格</span></div>
                    <div><input type="radio"> <span>合作方式</span></div>
                    <div><input type="radio"> <span>售后</span></div>
                    <div><input type="radio"> <span>培训</span></div>
                    <div><input type="radio"> <span>水果供给</span></div>
                    <div><input type="radio"> <span>设备性能</span></div>
                    <div><input type="radio"> <span>食品安全</span></div>
                    <div><input type="radio"> <span>其他</span></div>
                </div>
            </div>

        </div>
        <div class="table_text">
            <div>
                <span>可用资金描述</span>
                <textarea name="" cols="30" rows="10" placeholder="请简述您自己可直接使用的资金，以及可融资的金额。如;共200万，其中自有资金50万，引入合伙人投资150万。"></textarea>
            </div>
            <div>
                <span>渠道资金描述</span>
                <textarea name=""  cols="30" rows="10" placeholder="请简述您自己可直接使用的资金，以及可融资的金额。如;共200万，其中自有资金50万，引入合伙人投资150万。"></textarea>
            </div>
            <div>
                <span>管理资源描述</span>
                <textarea  cols="30" rows="10" placeholder="请简述您自己可直接使用的资金，以及可融资的金额。如;共200万，其中自有资金50万，引入合伙人投资150万。"></textarea>
            </div>
            <div>
                <span>其他资源</span>
                <textarea   cols="30" rows="10" placeholder="请简述您自己可直接使用的资金，以及可融资的金额。如;共200万，其中自有资金50万，引入合伙人投资150万。"></textarea>
            </div>

        </div>
        <div class="item">
            <div>
                <div class="item_name">您从何种渠道了解到【阿橙 果啦】</div>
                <div class="item_content">
                    <div><input type="radio"> <span>现场考察【阿橙果啦】销售终端</span></div>
                    <div><input type="radio"> <span>【阿橙果啦】运营商,加盟商引荐</span> <!--<input type="text" placeholder="【阿橙果啦】运营商,加盟商引荐">--></div>
                    <div><input type="radio"> <span>媒体报道</span> <!--<input type="text" placeholder="媒体名称">--></div>
                    <div><input type="radio"> <span>其他</span> <!--<input type="text" placeholder="">--></div>
                </div>
            </div>
            <div>
                <div class="item_name">您是否考察【阿橙果啦】销售终端</div>
                <div class="item_contents">
                    <div><input type="radio"> <span>是</span> <input type="radio"> <span>否</span> <!--<input type="text" placeholder="终端名称">--></div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn">
        <button>提交 </button>
    </div>
</div>

@include('../../template/footer_h5.html',{'title':"footer"})
</body>
</html>