body{
    background: #efefef;
}

/* content */

.banner img{
    width: 100%;
}
.banner{
    display: flex;
}


.company_info{
    background: #fff;
    padding: 0.3rem;
    font-size: 0.24rem;
    color: #333333;
}
.company_info nav{
    font-size: 0.3rem;
    padding-left: 0.25rem;
    border-left: 0.02rem solid #ff7500;
}
.company_info p{
    margin-top: 0.3rem;
    text-indent: 2em;
}

#item{
    padding: 0.3rem;
    background: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0.3rem;
}
.item{
    position: relative;
    width:2.28rem;
    height: 2.44rem;
    margin-top: 0.2rem;
    overflow: hidden;
}
.item img{
    width: 100%;
}
.item p{
    position: absolute;
    bottom: 0;
    font-size:0.3rem;
    line-height: 0.6rem;
    width: 100%;
    background: #c85d00;
    text-align: center;
    color: #fff;
    opacity: 0.8;
}