#banner img {
    width: 100%;
    display: flex;
}
.nav {
    text-align: center;
}

.nav_name {
    font-size: 0.28rem;
    display: inline-block;
    padding: 0 0.41rem 0.15rem 0.41rem;
    border-bottom: 0.02rem solid #8da3ae;
    position: relative;
}

.nav_name:after {
    content: "";
    display: block;
    position: relative;
    bottom: -0.18rem;
    height: 0.04rem;
    background: #ff7500;
    z-index: 1;
}

.nav_info {
    font-size: 0.24rem;
    margin-top: 0.16rem;
    margin-bottom: 0.2rem;
}

.item {
    background: #fff;
    margin-bottom: 0.3rem;
    padding: 0.3rem;
    font-size: 0.24rem;
}

.item_img img {
    width: 80%;
}

.item_img {
    text-align: center;
}

.item_flex {
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-around;
}

.item_flex img {
    width: 2.9rem;;
}

.item_flex > div:nth-of-type(2) {
    flex-grow: 2;
    margin-left: 0.2rem;
    font-size: 0.2rem;
}
.item_flex p {
    line-height: 0.4rem;
}
.server {
    font-size: 0.24rem;
    display: flex;
    justify-content: space-around;
}
.server img {
    width: 2.18rem;
}
.server p {
    color: #333;
    line-height: 0.36rem;
    padding-bottom: 0.16rem;
}
.server i{
    color: #ff7500;
    display: inline-block;
    font-size: 0.26rem;
    padding-right: 0.1rem;
}
.server>div:nth-of-type(2){
    display: flex;
    align-items: center;
}