body{
    background: #efefef;
}


.header_logo{
    height: 0.56rem;
    width: 1.9rem;
    background: url("../../img/new_logo .png") no-repeat;
    background-size: 100%;
    margin-left:0.3rem; ;
}
#header{
    height: 1.04rem;
    background: #000;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header_menu{
    font-size: 0.44rem;
    color: #fff;
    text-align: right;
    padding-right: 0.44rem;
    flex-grow: 3;
}
.nav_list{
    position: fixed;
    top: 1.04rem;
    right: -60%;
    width: 60%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 0.4rem;
    transition: 0.6s;
}
.nav_list li{
    padding: 0 0.4rem;
    line-height: 0.8rem;
    border-bottom: 1px solid;
}

/*  content */

.nav{
    font-size: 0.3rem;
    padding-left: 0.25rem;
    border-left: 0.02rem solid #ff7500;
    margin-bottom: 0.3rem;
}

#product{
    padding: 0.3rem;
    background: #fff;
    font-size: 0.24rem;
    margin-top: 0.3rem;
}
.product{
    padding: 0.3rem;
    width: 6.31rem;
    height: 2.32rem;
    color: #333333;
    background:url("../../img/coorp_03.jpg") no-repeat 100%/100% ;
    border-radius:0.09rem ;
    margin-top: 0.3rem;
    box-shadow: 1px 2px 10px 0px rgba(6, 0, 1, 0.3);
}
.product:nth-of-type(2){
    background:url("../../img/coorp_07.jpg") no-repeat 100%/100%  ;
}
.product:nth-of-type(3){
    background:url("../../img/coorp_10.jpg") no-repeat 100%/100%  ;
}
.product:nth-of-type(4){
    background:url("../../img/coorp_12.jpg") no-repeat 100%/100%  ;
}
.product_name{
    font-size: 0.36rem;
    color: #000;
    padding-top: 0.14rem;
}
.product>div{
    width: 3.6rem;
}
.product_price span{
    font-size: 0.36rem;
    color: #ff0000;
}
.product_type * {
    float: left;
}
.product_type:after{
    display: block;
    content: '';
    clear: both;
}
.product_type p{
    width: 1.2rem;
}
.product_type span{
    display: inline-block;
    width: 2.4rem;
}
.product_type{
    margin:0.2rem 0  ;
}
#growing{
    padding: 0.3rem;
    background: #fff;
    margin-top: 0.3rem;
    font-size: 0.24rem;
}
.growing_icon{
    height: 1.47rem;
    width: 1.47rem;
    border-radius: 50%;
    background: #ff7500;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 0.2rem;
    margin-top: 0.3rem;
}
.growing_icon img{
    margin-top: 0.2rem;
    width: 0.75rem;
    height: 0.65rem;
}
.growing_icon span{
    width: 100%;
}
.growing_list p span{
    display: block;
    line-height: 0.4rem;
    text-align: center;
}
.growing_list{
    margin-left: 0.2rem;
    width: 2.14rem;
    background: #efefef;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.growing_list:nth-of-type(1){
    margin-left: 0;
}
.growing{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 0.3rem;
}
.growing_list>span{
    display: block;
    color: #ff7500;
    line-height: 0.5rem;
}
.growing_img img{
    width: 6.91rem;
    height: 3.14rem;
}
.growing_img{
    position: relative;
}
.growing_img p{
    position: absolute;
    width: 6.91rem;
    height: 3.14rem;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 0;
    left: 0;
}
.growing_img span{
    width: 100%;
    line-height: 0.4rem;
    display: inline-block;
     font-size: 0.28rem;
    text-align: center;
}
.growing_img span:nth-of-type(1){
    margin-top: 1.2rem;
}

.footer_top{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #fff;
}
.footer{
    background: #737f95;
    padding: 1vh;
    font-size: 0.28rem;
    text-align: center;
    line-height: 36px;
    color: #fff;
}