body{
    background: #efefef;
}
.banner img{
    width:100%;
}
.content{
    margin: 0 0.3rem;
    font-size: 0.24rem;
}
.nav{
    border-left: 0.03rem solid #ff7500;
    color: #ff7500;
    font-size: 0.28rem;
    padding-left: 0.15rem;
    margin: 0.3rem 0;
}
.item{
    padding: 0.5rem;
    box-shadow: 0 0 5px #d3d3d3;
    border-radius: 0.08rem;
    background: #fff;
    margin-top: 0.3rem;
}
.item_title{
    text-align: center;
}
.item_title i{
    font-size:0.55rem;
    color: #ff7500;
}
.item_title div{
    margin-top: 0.24rem;
    font-size: 0.24rem;
    color: #333;
    padding-bottom:0.2rem;
}
.item_line{
    width: 0.92rem;
    height: 0.02rem;
    background: #ff7500;
    display: inline-block;
}
.item_info{
    text-indent: 2em;
    font-size: 0.24rem;
    margin-top: 0.5rem;
    line-height: 0.36rem;
}
.item:nth-last-of-type(1){
    background: url("../../img/h5_odds_11.png") no-repeat;
    background-size: cover;
    margin-bottom: 0.3rem;
}
.item:nth-of-type(1){
    background: url("../../img/h5_odds_03.png") no-repeat;
    background-size: cover;
}
.item:nth-of-type(3){
    background: url("../../img/h5_odds_07.png") no-repeat;
    background-size: cover;
}