.note{
    line-height: 100px;
    font-size: 18px;
    width: 1200px;
    margin:  0 auto;
}
.ctrl b{
    height: 80px;
    width: 20px;
    position: absolute;
    bottom: 0;
    display: inline-block;
    background: #ff7500;
}
.ctrl b:before{
    display: block;
    content:"";
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 0px;
    z-index: 10;
}
.ctrl b:after{
    display: block;
    content:"";
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: #ff7500 transparent transparent transparent;
    position: absolute;
    bottom: -20px;
    z-index: 10;
}
.ctrl span{
    display: inline-block;
    margin-left: 50px;
    font-size:18px ;
}

.ctrl li{
    font-size: 0;
    position: relative;
    line-height: 80px;
    margin-top: 10px;
}
.ctrl{
    margin: 30px auto;
    width: 600px;
}
.img{
    margin-top: 30px;
}
.list{
    font-size: 16px;
    margin-left: -50px;
    width: 260px;
}
.list i{
    color: #ff7500;
}
.info{
    font-size: 24px;
    color: #ff7500;
    line-height: 50px;
    border-bottom: 1px solid #d9d9d9;
}
.content{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.content>div{
    width: 45%;
    padding-left: 5%;
    justify-content: space-around;
    display: flex;
    line-height: 36px;
}
.name{
    font-size: 18px ;
    color: #ff7500;
    flex-grow: 2;
}
.item>nav{
    font-size: 24px;
    color: #ff7500;
    line-height: 50px;
    border-bottom: 1px solid #d9d9d9;
}
.item {
    width: 1200px;
    margin:  0 auto;
    border-bottom: 1px solid #d9d9d9;
}

.nav {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.nav p {
    font-size: 24px;
    padding: 0 200px 22px 200px;
    width: 180px;
    margin: 0 auto;
    border-bottom: 2px solid #ff7500;
}
.nav span {
    display: inline-block;
    font-size: 18px;
    color: #656565;
    position: relative;
    bottom: 12px;
    background: #fff;
    margin: 0 auto;
    padding: 0 10px;
}